################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin
/.vs
/IMG_9284.JPG
/126-2679_IMG.JPG
